In [1]:
# !conda install scikit-learn -y

In [2]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import sklearn

In [3]:
insects = pd.read_csv('DATA/insects.csv', header=1, sep='\s+')
insects.describe()

       continent   latitude    wingsize        sex
count  42.000000  42.000000   42.000000  42.000000
mean    0.523810  44.600000  864.523810   0.500000
std     0.505487   5.637592   52.276581   0.506061
min     0.000000  35.500000  789.000000   0.000000
25%     0.000000  40.700000  812.500000   0.000000
50%     1.000000  45.000000  872.000000   0.500000
75%     1.000000  48.800000  914.500000   1.000000
max     1.000000  56.100000  944.000000   1.000000

In [4]:
insects.head()

   continent  latitude  wingsize  sex
0          1      35.5       901    0
1          1      37.0       896    0
2          1      38.6       906    0
3          1      40.7       907    0
4          1      40.9       898    0

In [5]:
# train/test split is done using sklearn
from sklearn.model_selection import train_test_split

In [6]:
X = insects[['continent', 'latitude','sex']]

In [7]:
y = insects['wingsize']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [32]:
pd.concat([X_train, y_train], axis=1)

    continent  latitude  sex  wingsize
0           1      35.5    0       901
32          0      36.4    1       789
10          1      50.8    0       930
12          0      39.3    0       889
8           1      48.8    0       927
40          0      52.1    1       819
20          0      56.1    0       934
7           1      46.8    0       915
39          0      50.4    1       842
37          0      47.3    1       815
41          0      56.1    1       839
11          0      36.4    0       905
21          1      35.5    1       797
15          0      45.5    0       895
38          0      48.5    1       855
35          0      43.4    1       820
16          0      47.3    0       926
5           1      42.4    0       893
18          0      50.4    0       925
22          1      37.0    1       806
4           1      40.9    0       898
28          1      46.8    1       819
25          1      40.9    1       818
24          1      40.7    1       807
3           1      40.7    0       907
9           1      49.8    0       924
13          0      41.3    0       915
23          1      38.6    1       812
17          0      48.5    0       944
1           1      37.0    0       896
27          1      45.0    1       810
14          0      43.4    0       930
30          1      49.8    1       823

In [33]:
insects_train = pd.concat([X_train, y_train], axis = 1)
insects_train

    continent  latitude  sex  wingsize
0           1      35.5    0       901
32          0      36.4    1       789
10          1      50.8    0       930
12          0      39.3    0       889
8           1      48.8    0       927
40          0      52.1    1       819
20          0      56.1    0       934
7           1      46.8    0       915
39          0      50.4    1       842
37          0      47.3    1       815
41          0      56.1    1       839
11          0      36.4    0       905
21          1      35.5    1       797
15          0      45.5    0       895
38          0      48.5    1       855
35          0      43.4    1       820
16          0      47.3    0       926
5           1      42.4    0       893
18          0      50.4    0       925
22          1      37.0    1       806
4           1      40.9    0       898
28          1      46.8    1       819
25          1      40.9    1       818
24          1      40.7    1       807
3           1      40.7    0       907
9           1      49.8    0       924
13          0      41.3    0       915
23          1      38.6    1       812
17          0      48.5    0       944
1           1      37.0    0       896
27          1      45.0    1       810
14          0      43.4    0       930
30          1      49.8    1       823

In [34]:
insects_test = pd.concat([X_test,y_test], axis = 1)
insects_test

    continent  latitude  sex  wingsize
2           1      38.6    0       906
31          1      50.8    1       814
33          0      39.3    1       803
19          0      52.1    0       920
36          0      45.5    1       808
29          1      48.8    1       800
26          1      42.4    1       809
6           1      45.0    0       913
34          0      41.3    1       812

In [35]:
linear_model = smf.ols(formula='wingsize ~ latitude + sex', data=insects_train).fit()

linear_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               wingsize   R-squared:                       0.956
Model:                            OLS   Adj. R-squared:                  0.953
Method:                 Least Squares   F-statistic:                     322.5
Date:                Fri, 04 Sep 2020   Prob (F-statistic):           5.21e-21
Time:                        15:12:30   Log-Likelihood:                -124.88
No. Observations:                  33   AIC:                             255.8
Df Residuals:                      30   BIC:                             260.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    819.8114     15.148     54.121      0.000     788.875     850.747
latitude       2.1194      0.335      6.321      0.000       1.435       2.804
sex          -96.1975      3.905    -24.637      0.000    -104.172     -88.223
==============================================================================
Omnibus:                        2.447   Durbin-Watson:                   2.509
Prob(Omnibus):                  0.294   Jarque-Bera (JB):                1.382
Skew:                           0.464   Prob(JB):                        0.501
Kurtosis:                       3.379   Cond. No.                         350.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Let's check the r -squared measure of goodness of fit

In [12]:
from sklearn.metrics import r2_score

In [36]:
linear_model.params

Intercept    819.811366
latitude       2.119360
sex          -96.197509
dtype: float64

In [37]:
## THIS IS MODEL PREDICTION ON NEW DATA THE MODEL HAS NEVER SEEN!! NOTICE WE ARE USING THE TEST SET
y_test_pred = linear_model.predict(X_test)

In [38]:
y_test_pred  ## THIS IS MODEL PREDICTION ON NEW DATA!! NOTICE WE ARE USING THE TEST SET

2     901.618661
31    831.277344
33    806.904704
19    930.230021
36    820.044736
29    827.038624
26    813.474720
6     915.182565
34    811.143424
dtype: float64

In [39]:
y_test

2     906
31    814
33    803
19    920
36    808
29    800
26    809
6     913
34    812
Name: wingsize, dtype: int64

In [40]:
# THIS IS TESTING THE MODEL ON THE DATA THE MODEL HAS NEVER SEEN!!

r2_score(y_test, y_test_pred)  #### notice the decrease in R2

0.94028922812579

In [18]:
from sklearn import linear_model
sklearn_model = linear_model.LinearRegression().fit(X_train, y_train)

In [19]:
y_train_pred = sklearn_model.predict(X_train)

In [20]:
# THIS IS TESTING THE MODEL ON THE DATA WE USED TO BUILD THE MODEL!!

r2_train = r2_score(y_train, y_train_pred) 
r2_train

0.9595810746709353

In [21]:
y_test_pred = sklearn_model.predict(X_test)

In [22]:
# THIS IS TESTING THE MODEL ON THE DATA IT HAS NEVER SEEN!!
r2_test = r2_score(y_test, y_test_pred) 
r2_test

0.9470607886733824

In [23]:
train_test_split??

Signature: train_test_split(*arrays, **options)
Source:
def train_test_split(*arrays, **options):
    """Split arrays or matrices into random train and test subsets

    Quick utility that wraps input validation and
    ``next(ShuffleSplit().split(X, y))`` and application to input data
    into a single call for splitting (and optionally subsampling) data in a
    oneliner.

    Read more in the :ref:`User Guide <cross_validation>`.

    Parameters
    ----------
    *arrays : sequence of indexables with same length / shape[0]
        Allowed inputs are lists, numpy arrays, scipy-sparse
        matrices or pandas dataframes.

    test_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the proportion
        of the dataset to include in the test split. If int, represents the
        absolute number of test samples. If None, the value is set to the
        complement of the train size. If ``train_size`` is also None, it will
        be set to 0.25.

    train_size : float or int, default=None
        If float, should be between 0.0 and 1.0 and represent the
        proportion of the dataset to include in the train split. If
        int, represents the absolute number of train samples. If None,
        the value is automatically set to the complement of the test size.

    random_state : int or RandomState instance, default=None
        Controls the shuffling applied to the data before applying the split.
        Pass an int for reproducible output across multiple function calls.
        See :term:`Glossary <random_state>`.


    shuffle : bool, default=True
        Whether or not to shuffle the data before splitting. If shuffle=False
        then stratify must be None.

    stratify : array-like, default=None
        If not None, data is split in a stratified fashion, using this as
        the class labels.

    Returns
    -------
    splitting : list, length=2 * len(arrays)
        List containing train-test split of inputs.

        .. versionadded:: 0.16
            If the input is sparse, the output will be a
            ``scipy.sparse.csr_matrix``. Else, output type is the same as the
            input type.

    Examples
    --------
    >>> import numpy as np
    >>> from sklearn.model_selection import train_test_split
    >>> X, y = np.arange(10).reshape((5, 2)), range(5)
    >>> X
    array([[0, 1],
           [2, 3],
           [4, 5],
           [6, 7],
           [8, 9]])
    >>> list(y)
    [0, 1, 2, 3, 4]

    >>> X_train, X_test, y_train, y_test = train_test_split(
    ...     X, y, test_size=0.33, random_state=42)
    ...
    >>> X_train
    array([[4, 5],
           [0, 1],
           [6, 7]])
    >>> y_train
    [2, 0, 3]
    >>> X_test
    array([[2, 3],
           [8, 9]])
    >>> y_test
    [1, 4]

    >>> train_test_split(y, shuffle=False)
    [[0, 1, 2], [3, 4]]

    """
    n_arrays = len(arrays)
    if n_arrays == 0:
        raise ValueError("At least one array required as input")
    test_size = options.pop('test_size', None)
    train_size = options.pop('train_size', None)
    random_state = options.pop('random_state', None)
    stratify = options.pop('stratify', None)
    shuffle = options.pop('shuffle', True)

    if options:
        raise TypeError("Invalid parameters passed: %s" % str(options))

    arrays = indexable(*arrays)

    n_samples = _num_samples(arrays[0])
    n_train, n_test = _validate_shuffle_split(n_samples, test_size, train_size,
                                              default_test_size=0.25)

    if shuffle is False:
        if stratify is not None:
            raise ValueError(
                "Stratified train/test split is not implemented for "
                "shuffle=False")

        train = np.arange(n_train)
        test = np.arange(n_train, n_train + n_test)

    else:
        if stratify is not None:
            CVClass = StratifiedShuffleSplit
        else:
            CVClass = ShuffleSplit

        cv = CVClass(test_size=n_test,
                     train_size=n_train,
                     random_state=random_state)

        train, test = next(cv.split(X=arrays[0], y=stratify))

    return list(chain.from_iterable((_safe_indexing(a, train),
                                     _safe_indexing(a, test)) for a in arrays))
File:      ~/miniconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py
Type:      function

## ASSIGNMENT: DO THE SAME FOR THE CARS DATASET

In [24]:
import statsmodels.formula.api as smf

cars = pd.read_csv('DATA/cars_multivariate.csv',na_values=['?'])
cars = cars[cars.horsepower.notna()]
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model         392 non-null    int64
 7   origin        392 non-null    int64
 8   car_name      392 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 30.6+ KB

In [56]:
idx = insects.index
idx

RangeIndex(start=0, stop=42, step=1)

In [57]:
train = np.random.choice(idx, size=int(len(idx)*0.8), replace=False)
train

array([38, 10,  5, 41, 39, 22, 35, 29, 30,  0,  7, 24, 25, 36, 13,  6, 19,
       33, 18, 28, 23, 11, 32, 27,  1, 14, 31, 12,  4,  8, 21,  2,  9])

In [59]:
insects.iloc(18)

ValueError: No axis named 18 for object type <class 'pandas.core.frame.DataFrame'>